.profile__edit-btn {
  border: 1px solid #ffffff;
  background-color: transparent;
  width: 24px;
  height: 24px;
  grid-column-start: 2;
  grid-row-start: 1;
  align-self: center;
  background-image: url(../../../images/EditButton.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .profile__edit-btn {
    width: 18px;
    height: 18px;
  }
}
