.profile-info__edit-btn {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
  width: 24px;
  height: 24px;
  grid-column-start: 2;
  grid-row-start: 1;
  align-self: center;
}
