.profile__add-btn {
  border: 2px solid #ffffff;
  background-color: transparent;
  padding: 0;
  margin: 35px 0 35px 165px;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  background-image: url(../../../images/AddIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

@media screen and (max-width: 880px) {
  .profile__add-btn {
    width: 282px;
    margin: 36px 0 0;
  }
}

.profile__add-btn:hover {
  opacity: 0.6;
}
