.header {
  margin: 45px auto 0;
  max-width: 880px;
  border-bottom: 1px solid #545454;
  padding-bottom: 41px;
}

@media screen and (max-width: 880px) {
  .header {
    margin: 28px 0 0;
    padding-bottom: 32px;
  }
}
