.profile__role {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  color: #ffffff;
  margin: 16px 0 0 0;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}

@media screen and (max-width: 768px) {
  .profile__role {
    font-size: 14px;
    text-align: center;
    margin-top: 14px;
    max-width: 282px;
  }
}
