.footer__text {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.21;
  color: #545454;
  margin: 0;
  padding: 0;
  width: 318px;
}

@media screen and (max-width: 320px) {
  .footer__text {
    font-size: 14px;
    width: 282px;
  }
}
