.popup-box__save-btn {
  background-color: #000000;
  border-radius: 2px;
  margin: 48px 36px 36.51px;
  width: 358px;
  height: 50.15px;
  border: none;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 880px) {
  .popup-box__save-btn {
    width: 238px;
    margin: 46px 22px 25px;
    font-size: 14px;
    line-height: 1.21;
  }
}

.popup-box__save-btn:hover {
  opacity: 0.8;
}
